@import "./variables";
@import "./mixnis";
@import "./extensions";
@import "./pseudoClass";
@import "./header";
@import "./footer";


.Block-1 {
    width: 100%;
    background-image: url(../img/header-bg.jpg);
    padding: 250px 0px;
    margin-bottom: 100px;
}

.Banner-1 {
    @include TextStyle (75px, 100, white);
    margin-bottom: 40px;
    letter-spacing: 3px;
}

.Banner-button {
    @include LinkStyle (white, 17px, 600, $ColorHover, 20px);
    background: linear-gradient(to right, $ColorBlue, $ColorHover);
    padding: 8px 35px;
}

.Font-button {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 50%;
}

.Block-2-text {
    margin-bottom: 70px
}

.Text-block-2-1 {
    @extend %Text-block;
}

.Text-block-2-2 {
    @extend %Text-block-2;
}

.Img-1 {
    @extend %Img-options;
}

.Text-block-2-3 {
    @extend %Text-block-4;
}

.Text-block-2-4 {
    @extend %Text-block-3;
}

.Text-block-2-5 {
    @include LinkStyle (black, 16px, 600, #f4f4f4, 20px, );
    line-height: 1.625em;
    text-align: center;
    padding: 8px 30px;
}

.Block-div {
    @extend %Block-div;
}

.Block-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Block-3 {
    width: 100%;
    background-image: url(../img/about-bg.png);
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    align-items: center;
    margin-bottom: 20px;
}

.Text-div {
    max-width: 60%;
    max-height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    padding-top: 10%
}

.Block-3-text-1 {
    @include TextStyle (36px, 700, white);
    line-height: 1.2em;
}

.Block-3-text-2 {
    @include TextStyle (16px, 400, white);
    line-height: 1.625em;
}

.Div-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.Block-3-linc {
    @include LinkStyle (white, 14px, 700, #FFF, 20px, );
    line-height: 1.625em;
    padding: 5px 30px;
}

.Img-2 {
    max-width: 100%;
    height: auto;
}

.Block-4 {
    width: 100%;
    height: auto;
    background-color: black;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 150px 0px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.Text-2-block-4 {
    @include TextStyle (16px, 400, $ColorGrays);
    line-height: 1.625em;
}

.Text-1-block-4 {
    @include TextStyle (36px, 600, white);
    line-height: 1.2em;
}

.Text-block-div {
    max-width: 60%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-self: center;
    align-self: center;
}

.Border-circle {
    @include TextStyle (25px, 400, white);
    border: 10px solid $ColorHover;
    border-radius: 50%;
    padding: 40px;
}

.Text-circle {
    @include TextStyle (18px, 600, white);
    line-height: 1.2em;
    text-align: center;
    padding-top: 50px;
}

.Circle-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.circle-block-div {
    justify-self: start;
    padding-top: 80px;
}

.div-grid-1 {
    grid-area: 1/1/2/2;
    padding-right: 40px;
}

.div-grid-2 {
    grid-area: 1/2/2/3;
    padding-right: 40px;
}

.div-grid-3 {
    grid-area: 1/3/2/4;
    padding-right: 40px;
}

.Block-5 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px
}

.Block-5-text-h {
    @include TextStyle (18px, 600, black);
}

.Block-5-text-p {
    @include TextStyle (16px, 400, $ColorGrays);
}

.Block-5-div {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-self: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 230px;
    margin-top: 90px;
}

.Block-6 {
    width: 100%;
    height: auto;
    background-image: url(../img/testimonial-bg.jpg);
    background-size: cover;
    overflow: hidden;
    box-sizing: inherit;

}

.Block-6-transparency {
    width: 100%;
    height: auto;
    opacity: 0.6;
    box-sizing: inherit;
    background-image: -webkit-linear-gradient(0deg, #908ced 0%, #b56fe8 100%);
    padding: 120px 0;
    z-index: -1;
}

.Block-6-divs {
    max-width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    box-sizing: inherit;
    overflow: hidden;
    gap: 20px;
    position: relative;
    margin-left: 50px;
}

.Block-6-div {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.Block-6-text-1 {
    @extend %Text-block-2;
    text-align: left;
}

.Block-6-text-2 {
    @include TextStyle (18px, 600, black);
    line-height: 1.2em;
    text-align: left;
}

.Block-6-text-3 {
    @extend %Text-block-2;
    text-align: left;
}

.Block-7 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px
}

.Block-7-text-h {
    @include TextStyle (40px, 600, black);
    text-align: center;
}

.Block-7-text-p {
    @include TextStyle (16px, 400, $ColorGrays);
    text-align: center;
}

.Block-7-divs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
}

.Block-7-block {
    position: relative;
    width: 265px;
}

.Block-7-div-img {
    cursor: pointer;
    max-width: 100%;
    height: 48%;
    vertical-align: middle;
}

.Block-7-img {
    transition: all 0.5s ease 0s;
    text-align: center;
}

.Block-7-Date {
    background-color: #000;
    color: #fff;
    font-weight: 100;
    padding: 2px 15px;
    width: 115px;
    text-align: center;
    margin-top: 20px;
    display: block;
    margin-bottom: 10px;
}

.Block-7-div-text-h {
    @include TextStyle (20px, 700, black);
    text-decoration: none;
}

.Block-7-div-text {
    @include TextStyle (16px, 400, $ColorGrays);
}

.Block-7-style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


@import "./media";